.app-component-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.comments-component-wrapper {
  padding: 10px;
  max-height: 60vh;
  width: 90vw;
  margin: 10px auto;
  overflow-y: scroll;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.posts-component-wrapper {
  padding: 10px;
  max-height: 60vh;
  width: 90vw;
  margin: 10px auto;
  overflow-y: scroll;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.add-post-component-wrapper {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 10px auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}

.busy-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.753);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.busy-overlay img {
  width: 20vw;
}
.clearCommentsHeader {
  cursor: pointer;
}
.closeButton {
  width: 40px;
  transition: 0.5s ease-in-out;
}
.closeButton:hover {
  transform: rotateX(-180deg);
}
