<div *ngIf="busy" class="busy-overlay">
  <img src="./../assets/progress-2.gif" />
</div>
<div class="app-component-wrapper">
  <div class="posts-component-wrapper">
    <app-posts
      [comments]="comments"
      [posts]="posts"
      (selectedPostChanged)="onCurrentlySelectedPostChanged($event)"
      (checkCommentsButtonClicked)="onCheckCommentButtonClicked()"
    ></app-posts>
  </div>
  <div class="add-post-component-wrapper">
    <app-add-post
      (userPosted)="onUserPost($event)"
      [currentUserId]="currentUserId"
    ></app-add-post>
  </div>
</div>
