<div *ngIf="busy" class="busy-overlay">
  <img src="./../assets/progress-2.gif" />
</div>
<div class="app-component-wrapper">
  <h3
    (click)="clearComments()"
    *ngIf="comments.length !== 0"
    class="clearCommentsHeader"
  >
    Comments
    <img class="closeButton" src="./../assets/close.jpg" />
  </h3>
  <div
    class="comments-component-wrapper niceShadow"
    *ngIf="comments.length !== 0"
  >
    <app-comments [comments]="comments"></app-comments>
  </div>
  <h3>Posts</h3>
  <div class="posts-component-wrapper niceShadow">
    <app-posts
      [posts]="posts"
      (selectedPostChanged)="onCurrentlySelectedPostChanged($event)"
      (checkCommentsButtonClicked)="onCheckCommentButtonClicked()"
    ></app-posts>
  </div>
  <div class="add-post-component-wrapper niceShadow">
    <app-add-post
      (userPosted)="onUserPost($event)"
      [currentUserId]="currentUserId"
    ></app-add-post>
  </div>
</div>
