/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
}
.niceShadow {
  -webkit-box-shadow: 4px 4px 4px 0px rgba(94, 94, 94, 1);
  -moz-box-shadow: 4px 4px 4px 0px rgba(94, 94, 94, 1);
  box-shadow: 4px 4px 4px 0px rgba(94, 94, 94, 1);
}
