.textarea {
  resize: none;
}
.postFormGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postFormGroup > * {
  display: block;
  margin-top: 5px;
  border: 1px solid lightgray;
}
.postFormGroup button {
  margin: 5px auto;
}
.postFormGroup input,
.postFormGroup textarea {
  padding: 5px;
  width: 50vw !important;
}
