.textarea {
  resize: none;
}
.postFormGroup {
  display: flex;
  flex-direction: column;
}
.postFormGroup > * {
  display: block;
  margin-top: 5px;
  border: 1px solid lightgray;
}
.postFormGroup button {
  margin: 5px auto;
}
.postFormGroup input,
textarea {
  padding: 5px;
}
